#container {
    display: flex;
    max-width: 80%;
    height: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow:hidden;
}

.gridElement {
    margin: 0;
    flex-basis: 50%;
    max-width: 160px;
    height: 160px;
    background-color: mediumslateblue;
    border: 1px solid black;
}