#container {
    width: 580px;
    height: 580px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.gridElement {
    background-color: mediumslateblue;
    border: 1px solid black;
}